Repository White-Plains-Gospel-Chapel/sermon-uploader: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check, go-security-check, validate-deployment-config

no-compression-imports:
  name: Prevent compression-introducing dependencies
  entry: hooks/check-no-compression.sh
  language: script
  stages:
  - commit

validate-content-types:
  name: Validate audio content-type headers
  entry: hooks/check-content-types.sh
  language: script
  stages:
  - commit

validate-wav-handling:
  name: Validate WAV file handling as binary data
  entry: hooks/check-wav-handling.sh
  language: script
  stages:
  - commit

audio-test-coverage:
  name: Validate test coverage for audio handling
  entry: hooks/check-audio-coverage.sh
  language: script
  stages:
  - commit

no-hardcoded-quality:
  name: Prevent hardcoded audio quality settings
  entry: hooks/check-quality-settings.sh
  language: script
  stages:
  - commit

go-performance-check:
  name: Go performance anti-pattern detection
  entry: hooks/go-performance-check.sh
  language: script
  stages:
  - commit

go-memory-check:
  name: Go memory usage pattern validation
  entry: hooks/go-memory-check.sh
  language: script
  stages:
  - commit

go-concurrency-check:
  name: Go concurrency and goroutine safety check
  entry: hooks/go-concurrency-check.sh
  language: script
  stages:
  - commit

go-pi-optimization:
  name: Raspberry Pi specific Go optimization validation
  entry: hooks/go-pi-optimization.sh
  language: script
  stages:
  - commit

go-resource-check:
  name: Go resource cleanup and leak detection
  entry: hooks/go-resource-check.sh
  language: script
  stages:
  - commit

go-benchmark-check:
  name: Go performance benchmark validation
  entry: hooks/go-benchmark-check.sh
  language: script
  stages:
  - commit
  pass_filenames: false

go-security-check:
  name: Go dependency security validation
  entry: hooks/go-security-check.sh
  language: script
  stages:
  - commit

validate-deployment-config:
  name: Validate deployment configuration and workflows
  entry: .github/pre-commit-hooks/validate-deployment-config.py
  language: python
  stages:
  - commit
  additional_dependencies:
  - pyyaml
  - tomli

fix: resolve package name conflict in integration tests
  backend/integration/bulk_upload_cors_test.go
  backend/integration/test_server.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: resolve test compilation errors
  backend/handlers/presigned_test.go
  backend/integration/test_server.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: remove broken tests and fix test server
  backend/handlers/chunked_upload_test.go
  backend/integration/test_server.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: remove all broken handler tests to fix CI
  backend/handlers/multipart_upload_test.go
  backend/handlers/proxy_upload_test.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: replace SSH deployment with notification-based deployment
  .github/workflows/deploy-to-pi.yml.disabled
  .github/workflows/notify-deploy.yml
Due: validate-deployment-config

feat: add industry-standard deployment methods
  .github/workflows/deploy-self-hosted.yml
  .github/workflows/deploy-tailscale.yml
  DEPLOYMENT_METHODS.md
  setup-github-runner.sh
Due: validate-deployment-config

test: trigger deployment with self-hosted runner
  .github/workflows/deploy-self-hosted.yml
Due: validate-deployment-config

fix: simplify deployment - skip tests and deploy directly
  .github/workflows/deploy-self-hosted.yml
Due: validate-deployment-config

restore: add test phase before deployment in CI/CD pipeline
  .github/workflows/deploy-self-hosted.yml
Due: validate-deployment-config

fix: resolve test failures in CI/CD pipeline
  backend/handlers/cors_test.go
  backend/handlers/version_test.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: handle Docker daemon not running in deployment script
  deploy-from-pi.sh
Due: none

fix: auto-install Go if not present on Pi runner
  deploy-from-pi.sh
Due: none

fix: auto-detect MinIO protocol (HTTP/HTTPS) during deployment
  deploy-from-pi.sh
Due: none

fix: improve deployment robustness and remove failing tests
  .github/workflows/deploy-self-hosted.yml
  deploy-from-pi.sh
Due: validate-deployment-config

improve: make build step explicit and add artifact upload
  .github/workflows/deploy-self-hosted.yml
  fix-multiple-runners.sh
Due: validate-deployment-config

docs: add README with project overview and status badge
  README.md
Due: none

fix: disable conflicting workflows and add API documentation
  .github/workflows/deploy-self-hosted.yml.disabled
  .github/workflows/deploy-tailscale.yml.disabled
  .github/workflows/main.yml.disabled
  .github/workflows/notify-deploy.yml.disabled
  API-ENDPOINTS.md
Due: none

add: Docker deployment scripts for Raspberry Pi
  deploy-docker.sh
  setup-docker-pi.sh
Due: none

fix: make backend and services Pi-compatible
  backend/Dockerfile
  setup-services.sh
Due: none

feat: optimize Docker setup for Raspberry Pi 5
  backend/Dockerfile
  build-and-push.sh
  deploy-pi5.sh
  docker-compose.pi5.yml
  frontend-react/Dockerfile
Due: validate-deployment-config

feat: add GitHub Actions for automated Docker deployment
  .github/workflows/docker-deploy.yml
  GITHUB_SECRETS_SETUP.md
  docker-compose.pi5.yml
  pi-webhook-listener.py
  setup-webhook.sh
  webhook-listener.service
Due: validate-deployment-config

add: local Docker build script for deployment without Docker Hub
  deploy-local-build.sh
Due: none

fix: update Docker Hub username to gaiusr
  docker-compose.pi5.yml
Due: validate-deployment-config

feat: add SSH auto-deployment to GitHub Actions
  .github/workflows/docker-deploy.yml
Due: validate-deployment-config

fix: use correct username (gaius) for SSH deployment
  .github/workflows/docker-deploy.yml
Due: validate-deployment-config

test: trigger auto-deployment to Pi
  README.md
Due: none

fix: improve SSH deployment with better error handling and Docker Compose detection
  .github/workflows/docker-deploy.yml
Due: validate-deployment-config

add: Docker fix script for Pi
  fix-docker-pi.sh
Due: none

trigger: Docker image build for Docker Hub
  README.md
Due: none

fix: update Go version to 1.23 for Docker build
  backend/Dockerfile
Due: none

fix: handle missing public directory in Docker build
  frontend-react/Dockerfile
  frontend-react/public/.gitkeep
Due: none

fix: disable conflicting deploy workflow to use docker-deploy only
  .github/workflows/deploy.yml
  .github/workflows/deploy.yml.disabled
Due: validate-deployment-config

fix: use correct Docker token secret name in workflow
  .github/workflows/docker-deploy.yml
Due: validate-deployment-config

fix: correct GitHub Actions secrets syntax in conditionals
  .github/workflows/docker-deploy.yml
Due: validate-deployment-config

fix: use DOCKER_PASSWORD secret (actual secret name in repo)
  .github/workflows/docker-deploy.yml
Due: validate-deployment-config

fix: remove simple-server.go reference from Dockerfile
  backend/Dockerfile
Due: none

Path conditions:
  no-compression-imports: any of: \.(go|ts|tsx|js|json)$
  validate-content-types: any of: \.(go|ts|tsx|js)$
  validate-wav-handling: any of: \.(go|ts|tsx|js)$
  audio-test-coverage: any of: \.(go|ts|tsx)$
  no-hardcoded-quality: any of: \.(go|ts|tsx|js)$
  go-performance-check: any of: \.go$
  go-memory-check: any of: \.go$
  go-concurrency-check: any of: \.go$
  go-pi-optimization: any of: \.go$
  go-resource-check: any of: \.go$
  go-benchmark-check: any of: \.go$
  go-security-check: any of: go\.(mod|sum)$
  validate-deployment-config: any of: \.(yml|yaml|json|toml|mod|txt)$
