Repository White-Plains-Gospel-Chapel/sermon-uploader: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check, go-security-check, validate-deployment-config

no-compression-imports:
  name: Prevent compression-introducing dependencies
  entry: hooks/check-no-compression.sh
  language: script
  stages:
  - commit

validate-content-types:
  name: Validate audio content-type headers
  entry: hooks/check-content-types.sh
  language: script
  stages:
  - commit

validate-wav-handling:
  name: Validate WAV file handling as binary data
  entry: hooks/check-wav-handling.sh
  language: script
  stages:
  - commit

audio-test-coverage:
  name: Validate test coverage for audio handling
  entry: hooks/check-audio-coverage.sh
  language: script
  stages:
  - commit

no-hardcoded-quality:
  name: Prevent hardcoded audio quality settings
  entry: hooks/check-quality-settings.sh
  language: script
  stages:
  - commit

go-performance-check:
  name: Go performance anti-pattern detection
  entry: hooks/go-performance-check.sh
  language: script
  stages:
  - commit

go-memory-check:
  name: Go memory usage pattern validation
  entry: hooks/go-memory-check.sh
  language: script
  stages:
  - commit

go-concurrency-check:
  name: Go concurrency and goroutine safety check
  entry: hooks/go-concurrency-check.sh
  language: script
  stages:
  - commit

go-pi-optimization:
  name: Raspberry Pi specific Go optimization validation
  entry: hooks/go-pi-optimization.sh
  language: script
  stages:
  - commit

go-resource-check:
  name: Go resource cleanup and leak detection
  entry: hooks/go-resource-check.sh
  language: script
  stages:
  - commit

go-benchmark-check:
  name: Go performance benchmark validation
  entry: hooks/go-benchmark-check.sh
  language: script
  stages:
  - commit
  pass_filenames: false

go-security-check:
  name: Go dependency security validation
  entry: hooks/go-security-check.sh
  language: script
  stages:
  - commit

validate-deployment-config:
  name: Validate deployment configuration and workflows
  entry: .github/pre-commit-hooks/validate-deployment-config.py
  language: python
  stages:
  - commit
  additional_dependencies:
  - pyyaml
  - tomli

cleanup: remove unnecessary workflows and fix pre-push hook (TDD)
  .githooks/pre-push
  .github/workflows/comprehensive-deployment.yml
  .github/workflows/deploy-production-safe.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-simple.yml
  .github/workflows/emergency-rollback.yml
  .github/workflows/post-deployment-verification.yml
  .github/workflows/pre-deployment-validation.yml
  .github/workflows/rollback.yml
  .github/workflows/runner-optimization.yml
Due: validate-deployment-config

feat: implement smart presigned URL generation for large files
  backend/config/config.go
  backend/handlers/presigned.go
  backend/services/minio_presigned.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: use lowercase image name for GitHub Container Registry
  .github/workflows/build-and-deploy.yml
Due: validate-deployment-config

fix: remove invalid failOnCoverageThreshold from vitest config
  LARGE-FILE-TDD-TESTING.md
  LARGE_FILE_FIX_SUMMARY.md
  TDD-TEST-SUITE-DELIVERABLES.md
  backend/.golangci.md
  backend/GIT-WORKFLOW-PLAN.md
  backend/MAKEFILE.md
  backend/TDD-COMPREHENSIVE-GUIDE.md
  backend/TDD-DEVELOPER-ONBOARDING.md
  backend/TDD-QUICK-REFERENCE.md
  backend/TDD-WORKFLOW.md
  frontend/TESTING.md
  frontend/vitest.config.ts
  validate-before-push.sh
  validation-results.txt
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, validate-deployment-config

fix: TypeScript errors in test files
  frontend/__tests__/components/upload/UploadManagerOptimized.test.tsx
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality

feat: add 10GB upload solution using streaming
  scripts/upload-10gb.sh
Due: none

fix: remove integration tests with missing dependencies
  backend/integration_test/config.go
  backend/integration_test/discord_integration_test.go
  backend/integration_test/minio_integration_test.go
  backend/integration_test/tus_integration_test.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: update all Go tests for new API signatures and add integration tests
  .github/workflows/main.yml
  backend/handlers/health_test.go
  backend/handlers/presigned_test.go
  backend/integration/large_file_upload_test.go
  backend/run-integration-tests.sh
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check, validate-deployment-config

feat: implement TDD-based integration tests for large file uploads
  backend/integration/large_file_upload_test.go
  backend/run-integration-tests.sh
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: resolve deployment port conflict in CI/CD
  .github/workflows/main.yml
Due: validate-deployment-config

fix: build Docker image for ARM64 architecture (Raspberry Pi)
  .github/workflows/main.yml
  Dockerfile
Due: validate-deployment-config

fix: improve deployment timeouts for ARM64 containers
  .github/workflows/main.yml
Due: validate-deployment-config

feat: implement API versioning v1.1.0 with TDD approach
  .github/workflows/main.yml
  Dockerfile
  backend/config/config.go
  backend/config/version.go
  backend/handlers/handlers.go
  backend/handlers/version.go
  backend/handlers/version_test.go
  backend/integration/large_file_upload_test.go
  backend/main.go
  backend/services/discord.go
  backend/verify-deployment.go
  frontend/app/page.tsx
  frontend/components/common/VersionDisplay.tsx
  frontend/utils/version.ts
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check, validate-deployment-config

feat: implement production logging system with Discord live updates
  backend/integration_summary.md
  backend/services/production_logger.go
  backend/services/production_logger_test.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: resolve compilation errors in system monitoring
  backend/handlers/health_test.go
  backend/handlers/memory_streaming_test.go
  backend/handlers/version_test.go
  backend/services/system_monitor.go
  backend/services/system_monitor_discord.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: correct MinIO endpoints for production bulk upload
  REALTIME_MONITORING.md
  WORKFLOW_BENCHMARKS.md
Due: none

fix: repair optimized CI/CD pipeline issues
  .github/workflows/optimized-build.yml
Due: validate-deployment-config

optimize: speed up CI/CD pipeline to under 10 minutes
  .github/workflows/main.yml
Due: validate-deployment-config

feat: implement 2025 production-ready CI/CD with extensive testing
  .github/workflows/production-ready.yml
  docker-compose.test.yml
Due: validate-deployment-config

fix: use docker compose command without hyphen for GitHub Actions
  .github/workflows/production-ready.yml
Due: validate-deployment-config

cleanup: consolidate to single optimized CI/CD pipeline
  .github/workflows/optimized-build.yml.disabled
  .github/workflows/production-ready.yml.disabled
  .github/workflows/smart-protection.yml.disabled
Due: none

fix: remove change detection to ensure single pipeline execution
  .github/workflows/main.yml
  PIPELINE_BENCHMARK.md
  frontend/__tests__/bulk-upload.test.ts
  frontend/__tests__/cors.test.ts
  scripts/configure-minio-cors.sh
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, validate-deployment-config

optimize: add comprehensive multi-level caching for faster builds
  .github/workflows/main.yml
  backend/handlers/presigned.go
  backend/services/minio_cors.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check, validate-deployment-config

fix: remove minio_cors.go to fix compilation errors
  backend/handlers/presigned.go
  backend/services/minio_cors.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: comprehensive CORS configuration for browser-based bulk uploads
  backend/cmd/corstest/main.go
  backend/handlers/cors_test.go
  backend/integration/bulk_upload_cors_test.go
  frontend/__tests__/bulk-upload.test.ts
  frontend/__tests__/cors.test.ts
  test-cors.js
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: comprehensive CORS configuration for browser-based bulk uploads (#55)
  backend/cmd/corstest/main.go
  backend/handlers/cors_test.go
  backend/integration/bulk_upload_cors_test.go
  frontend/__tests__/bulk-upload.test.ts
  frontend/__tests__/cors.test.ts
  test-cors.js
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

feat: implement multipart upload system with HTTPS
  .github/workflows/deploy-to-pi.yml
  backend/handlers/multipart_upload.go
  backend/handlers/multipart_upload_test.go
  backend/main_updated.go
  deploy-now.sh
  frontend/__tests__/chunked-uploader.test.ts
  frontend/lib/chunked-uploader.ts
  scripts/setup-minio-tls-v2.sh
  scripts/setup-minio-tls.sh
  scripts/test-minio-tls.sh
  setup-github-secrets.sh
  setup-on-pi.sh
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check, validate-deployment-config

fix: correct MinIO SDK v7 API calls for multipart upload
  backend/handlers/multipart_upload.go
  backend/main_updated.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

feat: add pull-based deployment script for Pi
  deploy-from-pi.sh
Due: none

docs: add deployment instructions for private network Pi
  DEPLOY_INSTRUCTIONS.md
Due: none

fix: remove unused io import in multipart_upload.go
  fix-vpn-route.sh
  setup-vpn-route.sh
Due: none

fix: remove unused imports and ProxyPartUpload route
  backend/main_updated.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: handle nil transport for non-HTTPS MinIO connections
  backend/handlers/multipart_upload.go
  minio.service
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

feat: create unified single-endpoint upload API
  backend/handlers/unified_upload.go
  backend/main_simple.go
  frontend/unified-upload-example.html
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: resolve build failures in CI/CD
  backend/handlers/multipart_upload.go
  backend/main_simple.go.bak
  backend/main_updated.go.bak
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

fix: make integration tests self-contained with test server
  backend/integration/bulk_upload_cors_test.go
  backend/integration/test_server.go
Due: no-compression-imports, validate-content-types, validate-wav-handling, audio-test-coverage, no-hardcoded-quality, go-performance-check, go-memory-check, go-concurrency-check, go-pi-optimization, go-resource-check, go-benchmark-check

Path conditions:
  no-compression-imports: any of: \.(go|ts|tsx|js|json)$
  validate-content-types: any of: \.(go|ts|tsx|js)$
  validate-wav-handling: any of: \.(go|ts|tsx|js)$
  audio-test-coverage: any of: \.(go|ts|tsx)$
  no-hardcoded-quality: any of: \.(go|ts|tsx|js)$
  go-performance-check: any of: \.go$
  go-memory-check: any of: \.go$
  go-concurrency-check: any of: \.go$
  go-pi-optimization: any of: \.go$
  go-resource-check: any of: \.go$
  go-benchmark-check: any of: \.go$
  go-security-check: any of: go\.(mod|sum)$
  validate-deployment-config: any of: \.(yml|yaml|json|toml|mod|txt)$
